input {
  tcp {
    port => 5000
    codec => json_lines
  }
}

output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "laravel-logs-%{+YYYY.MM.dd}"
    user => "elastic"
    password => "YOUR-REAL-PASSWORD-GOES-HERE"
  }
}